.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ffffff;
  transition: 0.3s;
  font-family: Lrmon Milk;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  background-color: var(--dl-color-gray-white);
}
.navigation-links-link {
  color: #ffffff;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link:hover {
  background-color: var(--dl-color-gray-white);
}
.navigation-links-navlink1 {
  color: #ffffff;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  background-color: var(--dl-color-gray-white);
}
.navigation-links-link1 {
  color: #ffffff;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1:hover {
  background-color: var(--dl-color-gray-white);
}












.navigation-links-root-class-name12 {
  width: auto;
}

.navigation-links-root-class-name17 {
  width: auto;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
