<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="current-projects.html" class="navigation-links-navlink">
      <span>Current Projects</span>
    </a>
    <a
      href="https://github.com/Emr3Studios/Downloads"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Downloads</span>
    </a>
    <a href="about-us.html" class="navigation-links-navlink1">
      <span>About Us</span>
    </a>
    <a
      href="https://discord.gg/bFQ5559nBG"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Our Discord</span>
    </a>
  </nav>
</div>
