.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.about-us-header {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-navlink {
  display: contents;
}
.about-us-image {
  width: 100;
  height: 50;
  transition: 0.3s;
  text-decoration: none;
}
.about-us-image:hover {
  color: var(--dl-color-gray-white);
}
.about-us-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-image1 {
  height: 2rem;
}
.about-us-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-text {
  color: rgb(255, 255, 255);
}
.about-us-text01 {
  font-size: 40px;
}
.about-us-text03 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
}
@media(max-width: 1200px) {
  .about-us-header {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .about-us-header {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .about-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-nav {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .about-us-header {
    padding: var(--dl-space-space-unit);
  }
  .about-us-mobile-menu {
    padding: 16px;
  }
}
